

<nav class="navbar navbar-fixed-bottom ">
<address>
  <strong>&copy; 2017 - Availink - <a href="#">y.yang@availink.com</a></strong><br>
</address>
</nav>

<style>
   /*body { padding-top: 30px; }*/
</style>

</body>

</html>