<%include header%>
    <script src="https://unpkg.com/vue"></script>
    <div class="loading pull-left">
        <div><span></span></div>
        <div><span></span></div>
        <div><span></span></div>
    </div>

    <div id="app">
        <div id='info' class="alert alert-success" role="alert" hidden=true></div>
        <button type="button" class="btn pull-right glyphicon glyphicon-chevron-down" @click='open_s'>Satellites</button>

        <table class="table" id='sat' hidden>
            <caption>
                <button type="button" value="" class="btn btn-default pull-right" @click="add"><a href=javascript:void(0)><i class='glyphicon glyphicon-plus'></i></a></button>
            </caption>
            <thead>
                <tr class="bg-info">
                    <th>#</th>
                    <th>Sat Name</th>
                    <th>LNB Type</th>
                    <th>LNB Freq</th>
                    <th>Transponder</th>
                    <th>22KHz</th>
                    <th>DiSEqC 1.0</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(sat, i ) in temp_s">
                    <th scope="row">
                        {{i}}
                    </th>
                    <td>
                        <input type="text" class="form-control" v-model.string="sat.name">
                    </td>
                    <td>
                        <select class="form-control" v-model="sat.lnb.type">
                                    <option value=0>C Band</option>
                                    <option value=1>KU Band</option>
                                </select>

                    </td>
                    <td>
                        <div class="form-inline" style="max-width:100px">
                            <input type="number" class="form-control" v-model.number="sat.lnb.freq_l"> /
                            <input type="number" class="form-control" v-model.number="sat.lnb.freq_h">
                        </div>

                    </td>

                    <td>
                        <input type="number" class="form-control" v-model.number="sat.tp.freq"> /
                        <input type="number" class="form-control" v-model.number="sat.tp.rate">
                        <label class="radio-inline">
                                <input type="radio" value=0 v-model="sat.tp.polar" > V
                            </label>
                        <label class="radio-inline">
                                <input type="radio" value=1 v-model="sat.tp.polar" > H
                            </label>
                    </td>
                    <td>
                        <div class="form-inline">
                            <label class="radio-inline">
                                <input type="radio" value=true v-model="sat.k22" > On
                            </label>
                            <label class="radio-inline">
                                <input type="radio" value=false v-model="sat.k22" > Off
                            </label>
                        </div>
                    </td>
                    <td>
                        <select class="form-control" v-model="sat.disc10" style="max-width:100px">
                            <option value=0>A</option>
                            <option value=1>B</option>
                            <option value=2>C</option>
                            <option value=3>D</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" value="" class="submit btn btn-default" @click="edit_s(sat)"><a href=javascript:void(0) ><i class='glyphicon glyphicon-ok'></i></a></button>
                        <button type="button" value="" class="remove btn btn-default" @click="remove_s(sat._id, i)"><a href=javascript:void(0)><i class='glyphicon glyphicon-remove'></i></a></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <caption>

            </caption>
            <thead>
                <tr class="bg-primary">
                    <th>#</th>
                    <th>Location</th>
                    <th>Device </th>
                    <th>Status</th>
                    <th>Attenuation</th>
                    <th>Antenna</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(data, i ) in datas">
                    <th scope="row">
                        {{i}}
                    </th>
                    <td>
                        {{data.loc.name}}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-2"> <label>Mac</label></div>
                            <div class="col-md-9"> <span class="text-muted">{{data.mac}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"> <label>IP</label></div>
                            <div class="col-md-9"> <span class="text-muted">{{data.ip}}</span></div>
                        </div>
                    </td>
                    <td>
                        <span class="label label-primary">{{data.active ? 'ON' : 'OFF'}}</span>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-md-3"> <label>VSAT SNR</label></div>

                            <div class="col-md-9 form-inline">
                                <span class="text-muted">{{ data.status.snr}}</span>
                                <strong>+</strong>
                                <input type="number" class="form-control" min="-3" max="3" step="0.5" v-model.number="data.att.factor" style="max-width:80px">
                                <strong>=</strong>
                                <span class="text-primary ">{{ data.status.snr && (data.status.snr + (data.att.factor || 0)).toFixed(2)}}</span>                                db
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"> <label>Attenuator</label></div>
                            <div class="col-md-9"> <span class="text-muted">{{ data.status.attenuator}}</span> db</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"> <label>ATT Target</label></div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" min="1" max="64" step="0.5" v-model.number="data.att.att_aim" :disabled="data.att.mode!=2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"> <label>SNR Target</label></div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" min="1" max="64" step="0.5" v-model.number="data.att.snr_aim" :disabled="data.att.mode!=1">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3"> <label>Step</label></div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" min="0.5" max="3" step="0.5" v-model.number="data.att.step" :disabled="data.att.mode==2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"> <label>Interval</label></div>
                            <div class="col-md-9">
                                <input type="number" class="form-control" min="5" max="30" step="1" v-model.number="data.att.inv" :disabled="data.att.mode==2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><label>Mode</label></div>
                            <div class="col-md-9" style="font-size:15px">
                                <label class="radio-inline">
                                            <input type="radio" id="m1" value=0 v-model="data.att.mode"> Auto
                                          </label>
                                <label class="radio-inline">
                                            <input type="radio" id="m2" value=1 v-model="data.att.mode"> Semi-Auto
                                          </label>
                                <label class="radio-inline">
                                            <input type="radio" id="m3" value=2 v-model="data.att.mode"> Manual                                            
                                          </label>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div v-show="data.antenna.manual">
                            <div class="row">
                                <div class="col-md-3"><label>Status</label></div>
                                <div class="col-md-9">
                                    <span class="text-muted">{{data.ss}}</span>
                                    <i class='glyphicon' v-bind:class="[data.status.antenna.locked ? 'glyphicon-ok-sign' : 'glyphicon-remove-sign' ]"></i>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3"><label>Satellite</label></div>
                                <div class="col-md-9">
                                    <select class="form-control" v-model="data.antenna.satellite" @change="sat_change(data)">
                                        <option v-for="s in sats" v-bind:value="s._id">{{s.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"> <label>Manual</label></div>
                            <div class="col-md-9">
                                <input type="checkbox" v-model="data.antenna.manual">
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" value="" class="submit btn btn-default" @click="edit(data)"><a href=javascript:void(0) ><i class='glyphicon glyphicon-ok'></i></a></button>
                        <button type="button" value="" class="remove btn btn-default" @click="remove(data._id, i)"><a href=javascript:void(0)><i class='glyphicon glyphicon-remove'></i></a></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        function show_info(e, d) {
            if (e) {
                $('#info').addClass('alert-danger').slideDown()
                    .text(e).slideDown()
            }
            else {
                $('#info').removeClass('alert-danger').addClass('alert-success')
                    .text(d).slideDown()
            }
            setTimeout(() => $('#info').fadeOut(), 1200)
        }

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    datas: [],
                    sats: [],
                    temp_s: [],
                }
            },
            created: function () {
                this.featchList();
                setInterval(this.update, 5000)
            },
            methods: {
                featchList: function () {
                    $.getJSON('/web/sat/list', res => {
                        this.sats = res
                        this.temp_s = res.slice(0)
                    })

                    $.getJSON('/web/qos/list', res => {
                        res.forEach(d => this.sat_change(d))
                        this.datas = res
                    })
                },
                open_s: function (e) {
                    $(e.target).toggleClass('glyphicon-chevron-down glyphicon-chevron-up')
                    $('#sat').toggle();
                },

                add: function () {
                    this.temp_s.push({
                        name: '',
                        lnb: { type: 0, freq_l: 0, freq_h: 0 },
                        tp: { freq: 0, rate: 0, polar: 0 }
                    })
                },

                edit_s: function (s) {
                    $.ajax({
                        type: "post",
                        url: '/web/sat/edit',
                        data: JSON.stringify(s),
                        contentType: "application/json",
                        dataType: 'json',
                        error: () => show_info('Edit fail!'),
                        success: (d) => {
                            if (d.err) {
                                return show_info(d.err)
                            }

                            if (!s._id) {
                                s._id = d._id
                                this.sats.push(s);
                            }

                            this.datas.forEach(e => {
                                if (e.antenna.satellite == s._id) {
                                    this.sat_change(e)
                                }
                            })
                            show_info(null, "Edit success!")
                        }
                    });
                },

                remove_s: function (id, i) {
                    this.temp_s.splice(i, 1);
                    if (id) {
                        $.ajax({
                            type: "post",
                            url: '/web/sat/del/' + id,
                            error: () => show_info('Delete fail!'),
                            success: () => {
                                this.sats = this.sats.filter(e => e._id !== id)
                                show_info(null, "Delete success!")
                            }
                        });
                    }
                },
                sat_change: function (data) {
                    var id = data.antenna.satellite
                    var s = this.sats.find(s => s._id == id)
                    if (s) {
                        var t = s.lnb.type == 0 ? 'C' : 'Ku'
                        var p = s.tp.pola == 0 ? 'V' : 'H'
                        data.ss = `(${t}, ${s.lnb.freq_l}/${s.lnb.freq_h}, ${s.tp.freq}/${s.tp.rate}/${p})`
                    }
                    else {
                        data.ss = '';
                    }
                },

                update: function () {
                    $.getJSON('/web/qos/status', res => {
                        if (res.length != this.datas.length) {
                            return this.featchList();
                        }
                        res.forEach((data, i) => {
                            for (k in data) {
                                this.datas[i][k] = data[k];
                            }
                        });
                    })
                },

                edit: function (data) {
                    var obj = {
                        att: data.att,
                        antenna: data.antenna,
                    }

                    $.ajax({
                        type: "post",
                        url: '/web/qos/' + data._id,
                        data: JSON.stringify(obj),
                        contentType: "application/json",
                        dataType: 'json',
                        error: () => show_info('Edit fail!'),
                        success: () => {
                            $('#info').text("Edit success!").slideDown();
                            setTimeout(() => $('#info').fadeOut(), 1000)
                        }
                    });
                },

                remove: function (id, i) {
                    $.ajax({
                        type: "post",
                        url: '/web/qos/del/' + id,
                        error: () => show_info('Delete fail!'),
                        success: () => {
                            //$(`tbody tr:eq(${i})`).remove();
                            this.datas.splice(i, 1)
                            $('#info').text('Delete success!').slideDown();
                            setTimeout(() => $('#info').fadeOut(), 1000)
                        }
                    });
                }
            }
        })
    </script>

    <style>
        #app {
            margin: 0 200px 50px
        }

        @media screen and (max-width: 1366px) {
            #app {
                margin-left: 20px;
                margin-right: 20px
            }
        }

        #info {
            position: fixed;
            top: 55px;
            left: 30%;
            text-align: center;
            width: 40%;
            height: 50px;
        }

        .form-control {
            max-width: 150px;
        }

        .row {
            margin-bottom: 5px
        }

        input[type=checkbox] {
            width: 18px;
            height: 18px
        }
        
        #sat input[type=number] {
            max-width: 100px;
        }
        .loading {
            width: 60px;
            height: 60px;
            /*margin: 0 auto;*/
            margin-left: 50px;
            position: relative;
            -webkit-animation: load 3s linear infinite;
        }

        .loading div {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .loading span {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #99CC66;
            position: absolute;
            left: 50%;
            margin-top: -10px;
            margin-left: -10px;
            -webkit-animation: changeBgColor 3s ease infinite;
        }

        @-webkit-keyframes load {
            0% {
                -webkit-transform: rotate(0deg);
            }
            33.3% {
                -webkit-transform: rotate(120deg);
            }
            66.6% {
                -webkit-transform: rotate(240deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @-webkit-keyframes changeBgColor {
            0%,
            100% {
                background: #99CC66;
            }
            33.3% {
                background: #FFFF66;
            }
            66.6% {
                background: #FF6666;
            }
        }

        .loading div:nth-child(2) {
            -webkit-transform: rotate(120deg);
        }

        .loading div:nth-child(3) {
            -webkit-transform: rotate(240deg);
        }

        .loading div:nth-child(2) span {
            -webkit-animation-delay: 1s;
        }

        .loading div:nth-child(3) span {
            -webkit-animation-delay: 2s;
        }
    </style>
    <%include footer%>